@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #333333;
  --mint: #5CE1A5;
  --mint-light: #A0F1C8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-mint: var(--mint);
  --color-mint-light: var(--mint-light);
  --font-poppins: var(--font-poppins);
  --font-source-sans: var(--font-source-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), system-ui, sans-serif;
}
